# Azure Static Web Apps CI/CD workflow for Mango Pond: https://mango-pond-0e5b7781e.3.azurestaticapps.net
# Azure Portal -> Static Web Apps -> game-store-angular4
# This file was initially created by Azure when creating a new static web app in the portal.

name: Deploy to Azure Static Web Apps

on:
  push:
    branches:
      - merge-deployment-jobs
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      # Set Node version explicitly
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install OIDC Client from Core Package
        run: npm install @actions/core@1.6.0 @actions/http-client

      - name: Get Id Token
        uses: actions/github-script@v6
        id: idtoken
        with:
          script: |
            const coredemo = require('@actions/core')
            return await coredemo.getIDToken()
          result-encoding: string

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_MANGO_POND_0E5B7781E }}
          action: "upload"
          app_location: "/"              # Path to app source
          api_location: ""               # Path to API if any
          app_build_command: "npm ci && npx ng build --configuration=azure"
          output_location: "dist/browser" # Angular build output
          github_id_token: ${{ steps.idtoken.outputs.result }}

